body {
  font-weight: 250;
}

.navbar {
  border-bottom: 1px solid #D3D3D3;
}

a {
  text-decoration: none;
}

#drop {
  color: black !important;
}

#buttons {
  background-color: rgb(16, 172, 4);
  border-color: rgb(16, 172, 4) !important;
}